html,body { 
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}
.wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-wrapper{
    background-color: rgb(12, 6, 5);
    color: lightyellow;
    overflow-y: scroll;
}  


.sidenav {
    background-color: black;
    width: auto;
    min-width: 270px;
    padding-top: 10px;
    z-index: 1;
    transition: width .3s;
    overflow-y: scroll;
}

 .sidenav li, .sidenav li>a  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px; 
    color: #6d1414;
    display: block;
}
.sidenav li>a {
    color: #c93d33;
}
.sidenav li {
    border-width: 1px;
    border: #6d1414;
    background-color: rgb(15, 19, 19);
} 

.sidenav li>a:hover {
  color: antiquewhite !important;
}  

.sidenav li:hover{
    background-color:rgb(0 123 255 / 25%);
    border: 1px solid;
    border-color:#961b13af;
    border-left: 10px solid;
    border-left-color: rgb(0, 23, 151);
    color: bisque;
    box-shadow: inset 0 0 20px hsla(12, 80%, 33%, 0.5), 0 0 20px rgba(58, 174, 219, 0.2);
    outline-color: rgba(199, 42, 42, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    transition: 0.1s;
}

a {
    text-decoration: none;
}

.sidenav-toggle {
    display: none;
}


.bottom-nav {
    position: sticky;
    bottom:0;
    background-color: rgb(10, 9, 9);
}

.bottom-nav a{
    float: left;
    width: 100%;
    text-align: center;
    padding: 9px 0;
    transition: all 0.3 ease;
    color:  #c93d33;
    font-size: 10px;
    text-decoration: none;
    border: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #20242480;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.bottom-nav span{
    font-size: 15px;
    display: block;
}

.bottom-nav i{
    font-size: 22px;
    display: block;
}

.slot {
    color: antiquewhite;
    margin: none;
    flex: 1;
    -ms-flex: 1;
}

.slot:hover {
    color: #e4c8c8 !important;
}

.bottom-nav a:hover{
    color: antiquewhite;
    background-color: #0e3369b7;
    border: 1px solid;
    border-color:#961b13af;
    box-shadow: inset 0 0 20px hsla(12, 80%, 33%, 0.5), 0 0 20px rgba(58, 174, 219, 0.2);
    outline-color: rgba(199, 42, 42, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #022736; 
}

a.active {
    background-color:#7a0e00 ;
}


@media screen and (max-width: 992px) {
    .sidenav{
        width: 0;
        min-width: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x:hidden ;
        transition: .2s;
        }
    .bottom-nav{
        position:absolute;
        background-color: black;
        width: 100%;
        bottom: 0;
        margin: 0;
        overflow: hidden;
        /* text-align: center; */
    }
    .sidenav-toggle{
        display: inline;
    }
    .main-content {
        overflow-y: scroll;
    }
}

.light {
    background-color: #bba1a1;
    color: rgb(44, 27, 27);
}

.light-nav {
    background-color: rgb(85, 66, 66);
    color: rgb(34, 21, 21);
}

.light-slot{
    background-color: #2E2410;
}

.theme-switch-wrapper {
	display: flex;
	margin-top: 1.5em;
	/*margin-left: 2em;*/
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 

